<!--Footer-->
<footer class="page-footer text-center font-small grey darken-3">

    <div class="rgba-stylish-strong">

        <!--Call to action-->
        <div class="pt-4">
            <a class="btn btn-outline-white"
               href="/contact" target="_blank" role="button">Contact
                <i class="fa fa-mail-reply ml-2"></i>
            </a>
            <a class="btn btn-outline-white" href="https://www.facebook.com/epsops2020"
               target="_blank" role="button">Facebook
                <i class="fa fa-graduation-cap ml-2"></i>
            </a>
        </div>
        <!--/.Call to action-->

        <hr class="my-4">

        <!-- Social icons -->
        <div class="pb-4">
            <a href="https://www.facebook.com/epsops2020" target="_blank">
                <i class="fa fa-facebook-f mr-3"></i>
            </a>

            <a href="https://twitter.com/epsops2020" target="_blank">
                <i class="fa fa-twitter mr-3"></i>
            </a>

            <a href="https://www.youtube.com/channel/UCKeD1C57aMd1D4f9gUKh-eA" target="_blank">
                <i class="fa fa-youtube mr-3"></i>
            </a>

            <a href="https://dribbble.com/epsops2020" target="_blank">
                <i class="fa fa-dribbble mr-3"></i>
            </a>

            <a href="https://pinterest.com/epsops2020" target="_blank">
                <i class="fa fa-pinterest mr-3"></i>
            </a>



        </div>
        <!-- Social icons -->

        <!--Copyright-->
        <div class="footer-copyright py-3">
            © 2020 Copyright:
            <a href="https://epsops.com" target="_blank"> Epsops.com </a>
        </div>
        <!--/.Copyright-->

    </div>

</footer>
<!--Footer-->