
{#
/**
 * @file
 * Default theme implementation to present all user data.
 *
 * This template is used when viewing a registered user's page,
 * e.g., example.com/user/123. 123 being the user's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.field_example'. Fields attached to a user
 *   such as 'user_picture' are available as 'content.user_picture'.
 * - attributes: HTML attributes for the container element.
 * - user: A Drupal User entity.
 *
 * @see template_preprocess_user()
 *
 * @ingroup themeable
 */
#}
{#<article{{ attributes }}>#}
    {#{% if content %}#}
        {#{{- content -}}#}
    {#{% endif %}#}
{#</article>#}

<div class="container my-5 py-5 ">


    <!--Section: Content-->
    <section class="text-center px-md-5 mx-md-5 dark-grey-text">

        <div class="row mb-5">
            <div class="col-md-4 mx-auto">
                <div class="view mb-4 pb-2">
                    <img src="https://mdbootstrap.com/img/illustrations/undraw_connected_world_wuay.svg" class="img-fluid" alt="smaple image">
                </div>
            </div>
        </div>

        {% if content %}
            {{- content -}}
        {% endif %}

        <h3 class="font-weight-bold mb-4 pb-2">{{ content.title }}</h3>

        <p class="text-center mx-auto mb-4 pb-2">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore et quasi architecto explicabo.</p>

        <button type="button" class="btn btn-deep-purple btn-rounded">Activate</button>

    </section>
    <!--Section: Content-->


</div>

